STORYBLOK_DELIVERY_API_TOKEN=your_storyblok_delivery_api_token_here

SUPABASE_URL=your_supabase_url_here
SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

BUNNY_STREAM_HOSTNAME=your_bunny_stream_hostname_here
BUNNY_STREAM_LIBRARY_ID=your_bunny_stream_library_id_here
BUNNY_STREAM_API_KEY=your_bunny_stream_api_key_here

NUXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-xxxxxxxxxx

NUXT_PUBLIC_SITE_URL=https://localhost:3000/