header {
    padding-top: @vw32;

    .headerWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        padding-inline: @vw32;
        width: 100%;
        z-index: 999;

        .navCol {
            display: inline-block;

            &.left {
                .logoLink {
                    .logoImage {
                        width: @vw105;
                    }
                }
            }

            &.center {
                position: relative;

                .mainNav {
                    .menuContent ul {
                        display: flex;
                        gap: @vw16;

                        .navItem {
                            .navLink {
                                &.router-link-active:not([href='/']) { color: @primary; }
                                &.router-link-exact-active { color: @primary; }
                            }
                        }
                    }
                }
            }

            &.right {
                position: relative;
            }
        }
    }
}

@media (max-width: 1080px) {
    header {
        padding-left: calc(@vw63-1080 + @vw15-1080 + @vw80-1080);
        padding-right: calc(@vw63-1080 + @vw15-1080 + @vw80-1080);
        margin-left: -@vw80-1080;
        margin-right: -@vw80-1080;

        .headerWrapper {
            border-radius: @vw7-1080;
            padding: @vw10-1080;
            margin-top: @vw40-1080;
            width: calc((@vw63-1080 * 10) + (@vw15-1080 * 9));

            .navCol {
                &.left {
                    .mainNav {
                        .navButton {
                            gap: @vw15-1080;
                            border-radius: @vw3-1080;
                            padding: @vw8-1080 @vw16-1080;

                            .label {
                                font-size: @vw20-1080;
                            }
                        }

                        .icon {
                            gap: @vw9-1080;
        
                            span {
                                width: @vw30-1080;
                                height: @vw1-1080;
                            }
        
                            span.open:nth-child(1) {
                                transform: translateY(@vw5-1080) rotate(45deg);
                            }
                            span.open:nth-child(2) {
                                transform: translateY(-@vw5-1080) rotate(-45deg);
                            }
                        }
                    }
                }

                &.center {
                    .headerTitle {
                        font-size: @vw36-1080;
                    }
                }

                &.right {
                    .ctaNav {
                        padding: @vw8-1080 @vw16-1080;
                        border-radius: @vw3-1080;
                        
                        .navItem {
                            font-size: @vw20-1080;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 580px) {
    header {
        padding-left: @vw60-580;
        padding-right: @vw60-580;
        margin-left: -@vw60-580;
        margin-right: -@vw60-580;

        .headerWrapper {
            border-radius: @vw7-580;
            padding: @vw10-580;
            margin-top: @vw40-580;
            width: calc((@vw29-580 * 12) + (@vw10-580 * 11));

            .navCol {
                &.left {
                    .mainNav {
                        .navButton {
                            gap: @vw10-580;
                            border-radius: @vw3-580;
                            padding: @vw8-580 @vw16-580;

                            .label {
                                font-size: @vw20-580;
                            }
                        }

                        .icon {
                            gap: @vw9-580;
        
                            span {
                                width: @vw30-580;
                                height: @vw1-580;
                            }
        
                            span.open:nth-child(1) {
                                transform: translateY(@vw5-580) rotate(45deg);
                            }
                            span.open:nth-child(2) {
                                transform: translateY(-@vw5-580) rotate(-45deg);
                            }
                        }
                    }
                }

                &.center {
                    .headerTitle {
                        font-size: @vw36-580;
                    }
                }

                &.right {
                    .ctaNav {
                        padding: @vw8-580 @vw16-580;
                        border-radius: @vw3-580;
                        
                        .navItem {
                            font-size: @vw20-580;
                        }
                    }
                }
            }
        }
    }
}