.video_block {
    .video-container {
        .title-container {
            .title {
                font-size: @vw84;
                font-family: @body;
                font-weight: @bold;
                text-align: center;
                text-transform: uppercase;
                margin: @vw16 0 0 0;
            }

            .subTitle {
                font-size: @vw18;
                text-align: center;
                text-transform: uppercase;
                color: @primary;
            }
        }
    }
}