@vw300: 20.833333vw;
@vw299: 20.763889vw;
@vw298: 20.694444vw;
@vw297: 20.625000vw;
@vw296: 20.555556vw;
@vw295: 20.486111vw;
@vw294: 20.416667vw;
@vw293: 20.347222vw;
@vw292: 20.277778vw;
@vw291: 20.208333vw;
@vw290: 20.138889vw;
@vw289: 20.069444vw;
@vw288: 20.000000vw;
@vw287: 19.930556vw;
@vw286: 19.861111vw;
@vw285: 19.791667vw;
@vw284: 19.722222vw;
@vw283: 19.652778vw;
@vw282: 19.583333vw;
@vw281: 19.513889vw;
@vw280: 19.444444vw;
@vw279: 19.375000vw;
@vw278: 19.305556vw;
@vw277: 19.236111vw;
@vw276: 19.166667vw;
@vw275: 19.097222vw;
@vw274: 19.027778vw;
@vw273: 18.958333vw;
@vw272: 18.888889vw;
@vw271: 18.819444vw;
@vw270: 18.750000vw;
@vw269: 18.680556vw;
@vw268: 18.611111vw;
@vw267: 18.541667vw;
@vw266: 18.472222vw;
@vw265: 18.402778vw;
@vw264: 18.333333vw;
@vw263: 18.263889vw;
@vw262: 18.194444vw;
@vw261: 18.125000vw;
@vw260: 18.055556vw;
@vw259: 17.986111vw;
@vw258: 17.916667vw;
@vw257: 17.847222vw;
@vw256: 17.777778vw;
@vw255: 17.708333vw;
@vw254: 17.638889vw;
@vw253: 17.569444vw;
@vw252: 17.500000vw;
@vw251: 17.430556vw;
@vw250: 17.361111vw;
@vw249: 17.291667vw;
@vw248: 17.222222vw;
@vw247: 17.152778vw;
@vw246: 17.083333vw;
@vw245: 17.013889vw;
@vw244: 16.944444vw;
@vw243: 16.875000vw;
@vw242: 16.805556vw;
@vw241: 16.736111vw;
@vw240: 16.666667vw;
@vw239: 16.597222vw;
@vw238: 16.527778vw;
@vw237: 16.458333vw;
@vw236: 16.388889vw;
@vw235: 16.319444vw;
@vw234: 16.250000vw;
@vw233: 16.180556vw;
@vw232: 16.111111vw;
@vw231: 16.041667vw;
@vw230: 15.972222vw;
@vw229: 15.902778vw;
@vw228: 15.833333vw;
@vw227: 15.763889vw;
@vw226: 15.694444vw;
@vw225: 15.625000vw;
@vw224: 15.555556vw;
@vw223: 15.486111vw;
@vw222: 15.416667vw;
@vw221: 15.347222vw;
@vw220: 15.277778vw;
@vw219: 15.208333vw;
@vw218: 15.138889vw;
@vw217: 15.069444vw;
@vw216: 15.000000vw;
@vw215: 14.930556vw;
@vw214: 14.861111vw;
@vw213: 14.791667vw;
@vw212: 14.722222vw;
@vw211: 14.652778vw;
@vw210: 14.583333vw;
@vw209: 14.513889vw;
@vw208: 14.444444vw;
@vw207: 14.375000vw;
@vw206: 14.305556vw;
@vw205: 14.236111vw;
@vw204: 14.166667vw;
@vw203: 14.097222vw;
@vw202: 14.027778vw;
@vw201: 13.958333vw;
@vw200: 13.888889vw;
@vw199: 13.819444vw;
@vw198: 13.750000vw;
@vw197: 13.680556vw;
@vw196: 13.611111vw;
@vw195: 13.541667vw;
@vw194: 13.472222vw;
@vw193: 13.402778vw;
@vw192: 13.333333vw;
@vw191: 13.263889vw;
@vw190: 13.194444vw;
@vw189: 13.125000vw;
@vw188: 13.055556vw;
@vw187: 12.986111vw;
@vw186: 12.916667vw;
@vw185: 12.847222vw;
@vw184: 12.777778vw;
@vw183: 12.708333vw;
@vw182: 12.638889vw;
@vw181: 12.569444vw;
@vw180: 12.500000vw;
@vw179: 12.430556vw;
@vw178: 12.361111vw;
@vw177: 12.291667vw;
@vw176: 12.222222vw;
@vw175: 12.152778vw;
@vw174: 12.083333vw;
@vw173: 12.013889vw;
@vw172: 11.944444vw;
@vw171: 11.875000vw;
@vw170: 11.805556vw;
@vw169: 11.736111vw;
@vw168: 11.666667vw;
@vw167: 11.597222vw;
@vw166: 11.527778vw;
@vw165: 11.458333vw;
@vw164: 11.388889vw;
@vw163: 11.319444vw;
@vw162: 11.250000vw;
@vw161: 11.180556vw;
@vw160: 11.111111vw;
@vw159: 11.041667vw;
@vw158: 10.972222vw;
@vw157: 10.902778vw;
@vw156: 10.833333vw;
@vw155: 10.763889vw;
@vw154: 10.694444vw;
@vw153: 10.625000vw;
@vw152: 10.555556vw;
@vw151: 10.486111vw;
@vw150: 10.416667vw;
@vw149: 10.347222vw;
@vw148: 10.277778vw;
@vw147: 10.208333vw;
@vw146: 10.138889vw;
@vw145: 10.069444vw;
@vw144: 10.000000vw;
@vw143: 9.930556vw;
@vw142: 9.861111vw;
@vw141: 9.791667vw;
@vw140: 9.722222vw;
@vw139: 9.652778vw;
@vw138: 9.583333vw;
@vw137: 9.513889vw;
@vw136: 9.444444vw;
@vw135: 9.375000vw;
@vw134: 9.305556vw;
@vw133: 9.236111vw;
@vw132: 9.166667vw;
@vw131: 9.097222vw;
@vw130: 9.027778vw;
@vw129: 8.958333vw;
@vw128: 8.888889vw;
@vw127: 8.819444vw;
@vw126: 8.750000vw;
@vw125: 8.680556vw;
@vw124: 8.611111vw;
@vw123: 8.541667vw;
@vw122: 8.472222vw;
@vw121: 8.402778vw;
@vw120: 8.333333vw;
@vw119: 8.263889vw;
@vw118: 8.194444vw;
@vw117: 8.125000vw;
@vw116: 8.055556vw;
@vw115: 7.986111vw;
@vw114: 7.916667vw;
@vw113: 7.847222vw;
@vw112: 7.777778vw;
@vw111: 7.708333vw;
@vw110: 7.638889vw;
@vw109: 7.569444vw;
@vw108: 7.500000vw;
@vw107: 7.430556vw;
@vw106: 7.361111vw;
@vw105: 7.291667vw;
@vw104: 7.222222vw;
@vw103: 7.152778vw;
@vw102: 7.083333vw;
@vw101: 7.013889vw;
@vw100: 6.944444vw;
@vw99: 6.875000vw;
@vw98: 6.805556vw;
@vw97: 6.736111vw;
@vw96: 6.666667vw;
@vw95: 6.597222vw;
@vw94: 6.527778vw;
@vw93: 6.458333vw;
@vw92: 6.388889vw;
@vw91: 6.319444vw;
@vw90: 6.250000vw;
@vw89: 6.180556vw;
@vw88: 6.111111vw;
@vw87: 6.041667vw;
@vw86: 5.972222vw;
@vw85: 5.902778vw;
@vw84: 5.833333vw;
@vw83: 5.763889vw;
@vw82: 5.694444vw;
@vw81: 5.625000vw;
@vw80: 5.555556vw;
@vw79: 5.486111vw;
@vw78: 5.416667vw;
@vw77: 5.347222vw;
@vw76: 5.277778vw;
@vw75: 5.208333vw;
@vw74: 5.138889vw;
@vw73: 5.069444vw;
@vw72: 5.000000vw;
@vw71: 4.930556vw;
@vw70: 4.861111vw;
@vw69: 4.791667vw;
@vw68: 4.722222vw;
@vw67: 4.652778vw;
@vw66: 4.583333vw;
@vw65: 4.513889vw;
@vw64: 4.444444vw;
@vw63: 4.375000vw;
@vw62: 4.305556vw;
@vw61: 4.236111vw;
@vw60: 4.166667vw;
@vw59: 4.097222vw;
@vw58: 4.027778vw;
@vw57: 3.958333vw;
@vw56: 3.888889vw;
@vw55: 3.819444vw;
@vw54: 3.750000vw;
@vw53: 3.680556vw;
@vw52: 3.611111vw;
@vw51: 3.541667vw;
@vw50: 3.472222vw;
@vw49: 3.402778vw;
@vw48: 3.333333vw;
@vw47: 3.263889vw;
@vw46: 3.194444vw;
@vw45: 3.125000vw;
@vw44: 3.055556vw;
@vw43: 2.986111vw;
@vw42: 2.916667vw;
@vw41: 2.847222vw;
@vw40: 2.777778vw;
@vw39: 2.708333vw;
@vw38: 2.638889vw;
@vw37: 2.569444vw;
@vw36: 2.500000vw;
@vw35: 2.430556vw;
@vw34: 2.361111vw;
@vw33: 2.291667vw;
@vw32: 2.222222vw;
@vw31: 2.152778vw;
@vw30: 2.083333vw;
@vw29: 2.013889vw;
@vw28: 1.944444vw;
@vw27: 1.875000vw;
@vw26: 1.805556vw;
@vw25: 1.736111vw;
@vw24: 1.666667vw;
@vw23: 1.597222vw;
@vw22: 1.527778vw;
@vw21: 1.458333vw;
@vw20: 1.388889vw;
@vw19: 1.319444vw;
@vw18: 1.250000vw;
@vw17: 1.180556vw;
@vw16: 1.111111vw;
@vw15: 1.041667vw;
@vw14: 0.972222vw;
@vw13: 0.902778vw;
@vw12: 0.833333vw;
@vw11: 0.763889vw;
@vw10: 0.694444vw;
@vw9: 0.625000vw;
@vw8: 0.555556vw;
@vw7: 0.486111vw;
@vw6: 0.416667vw;
@vw5: 0.347222vw;
@vw4: 0.277778vw;
@vw3: 0.208333vw;
@vw2: 0.138889vw;
@vw1: 0.069444vw;

@vw300-1080: 27.778vw;
@vw299-1080: 27.685vw;
@vw298-1080: 27.593vw;
@vw297-1080: 27.5vw;
@vw296-1080: 27.407vw;
@vw295-1080: 27.315vw;
@vw294-1080: 27.222vw;
@vw293-1080: 27.13vw;
@vw292-1080: 27.037vw;
@vw291-1080: 26.944vw;
@vw290-1080: 26.852vw;
@vw289-1080: 26.759vw;
@vw288-1080: 26.667vw;
@vw287-1080: 26.574vw;
@vw286-1080: 26.481vw;
@vw285-1080: 26.389vw;
@vw284-1080: 26.296vw;
@vw283-1080: 26.204vw;
@vw282-1080: 26.111vw;
@vw281-1080: 26.019vw;
@vw280-1080: 25.926vw;
@vw279-1080: 25.833vw;
@vw278-1080: 25.741vw;
@vw277-1080: 25.648vw;
@vw276-1080: 25.556vw;
@vw275-1080: 25.463vw;
@vw274-1080: 25.37vw;
@vw273-1080: 25.278vw;
@vw272-1080: 25.185vw;
@vw271-1080: 25.093vw;
@vw270-1080: 25vw;
@vw269-1080: 24.907vw;
@vw268-1080: 24.815vw;
@vw267-1080: 24.722vw;
@vw266-1080: 24.63vw;
@vw265-1080: 24.537vw;
@vw264-1080: 24.444vw;
@vw263-1080: 24.352vw;
@vw262-1080: 24.259vw;
@vw261-1080: 24.167vw;
@vw260-1080: 24.074vw;
@vw259-1080: 23.981vw;
@vw258-1080: 23.889vw;
@vw257-1080: 23.796vw;
@vw256-1080: 23.704vw;
@vw255-1080: 23.611vw;
@vw254-1080: 23.519vw;
@vw253-1080: 23.426vw;
@vw252-1080: 23.333vw;
@vw251-1080: 23.241vw;
@vw250-1080: 23.148vw;
@vw249-1080: 23.056vw;
@vw248-1080: 22.963vw;
@vw247-1080: 22.87vw;
@vw246-1080: 22.778vw;
@vw245-1080: 22.685vw;
@vw244-1080: 22.593vw;
@vw243-1080: 22.5vw;
@vw242-1080: 22.407vw;
@vw241-1080: 22.315vw;
@vw240-1080: 22.222vw;
@vw239-1080: 22.13vw;
@vw238-1080: 22.037vw;
@vw237-1080: 21.944vw;
@vw236-1080: 21.852vw;
@vw235-1080: 21.759vw;
@vw234-1080: 21.667vw;
@vw233-1080: 21.574vw;
@vw232-1080: 21.481vw;
@vw231-1080: 21.389vw;
@vw230-1080: 21.296vw;
@vw229-1080: 21.204vw;
@vw228-1080: 21.111vw;
@vw227-1080: 21.019vw;
@vw226-1080: 20.926vw;
@vw225-1080: 20.833vw;
@vw224-1080: 20.741vw;
@vw223-1080: 20.648vw;
@vw222-1080: 20.556vw;
@vw221-1080: 20.463vw;
@vw220-1080: 20.37vw;
@vw219-1080: 20.278vw;
@vw218-1080: 20.185vw;
@vw217-1080: 20.093vw;
@vw216-1080: 20vw;
@vw215-1080: 19.907vw;
@vw214-1080: 19.815vw;
@vw213-1080: 19.722vw;
@vw212-1080: 19.63vw;
@vw211-1080: 19.537vw;
@vw210-1080: 19.444vw;
@vw209-1080: 19.352vw;
@vw208-1080: 19.259vw;
@vw207-1080: 19.167vw;
@vw206-1080: 19.074vw;
@vw205-1080: 18.981vw;
@vw204-1080: 18.889vw;
@vw203-1080: 18.796vw;
@vw202-1080: 18.704vw;
@vw201-1080: 18.611vw;
@vw200-1080: 18.519vw;
@vw199-1080: 18.426vw;
@vw198-1080: 18.333vw;
@vw197-1080: 18.241vw;
@vw196-1080: 18.148vw;
@vw195-1080: 18.056vw;
@vw194-1080: 17.963vw;
@vw193-1080: 17.87vw;
@vw192-1080: 17.778vw;
@vw191-1080: 17.685vw;
@vw190-1080: 17.593vw;
@vw189-1080: 17.5vw;
@vw188-1080: 17.407vw;
@vw187-1080: 17.315vw;
@vw186-1080: 17.222vw;
@vw185-1080: 17.13vw;
@vw184-1080: 17.037vw;
@vw183-1080: 16.944vw;
@vw182-1080: 16.852vw;
@vw181-1080: 16.759vw;
@vw180-1080: 16.667vw;
@vw179-1080: 16.574vw;
@vw178-1080: 16.481vw;
@vw177-1080: 16.389vw;
@vw176-1080: 16.296vw;
@vw175-1080: 16.204vw;
@vw174-1080: 16.111vw;
@vw173-1080: 16.019vw;
@vw172-1080: 15.926vw;
@vw171-1080: 15.833vw;
@vw170-1080: 15.741vw;
@vw169-1080: 15.648vw;
@vw168-1080: 15.556vw;
@vw167-1080: 15.463vw;
@vw166-1080: 15.37vw;
@vw165-1080: 15.278vw;
@vw164-1080: 15.185vw;
@vw163-1080: 15.093vw;
@vw162-1080: 15vw;
@vw161-1080: 14.907vw;
@vw160-1080: 14.815vw;
@vw159-1080: 14.722vw;
@vw158-1080: 14.63vw;
@vw157-1080: 14.537vw;
@vw156-1080: 14.444vw;
@vw155-1080: 14.352vw;
@vw154-1080: 14.259vw;
@vw153-1080: 14.167vw;
@vw152-1080: 14.074vw;
@vw151-1080: 13.981vw;
@vw150-1080: 13.889vw;
@vw149-1080: 13.796vw;
@vw148-1080: 13.704vw;
@vw147-1080: 13.611vw;
@vw146-1080: 13.519vw;
@vw145-1080: 13.426vw;
@vw144-1080: 13.333vw;
@vw143-1080: 13.241vw;
@vw142-1080: 13.148vw;
@vw141-1080: 13.056vw;
@vw140-1080: 12.963vw;
@vw139-1080: 12.87vw;
@vw138-1080: 12.778vw;
@vw137-1080: 12.685vw;
@vw136-1080: 12.593vw;
@vw135-1080: 12.5vw;
@vw134-1080: 12.407vw;
@vw133-1080: 12.315vw;
@vw132-1080: 12.222vw;
@vw131-1080: 12.13vw;
@vw130-1080: 12.037vw;
@vw129-1080: 11.944vw;
@vw128-1080: 11.852vw;
@vw127-1080: 11.759vw;
@vw126-1080: 11.667vw;
@vw125-1080: 11.574vw;
@vw124-1080: 11.481vw;
@vw123-1080: 11.389vw;
@vw122-1080: 11.296vw;
@vw121-1080: 11.204vw;
@vw120-1080: 11.111vw;
@vw119-1080: 11.019vw;
@vw118-1080: 10.926vw;
@vw117-1080: 10.833vw;
@vw116-1080: 10.741vw;
@vw115-1080: 10.648vw;
@vw114-1080: 10.556vw;
@vw113-1080: 10.463vw;
@vw112-1080: 10.37vw;
@vw111-1080: 10.278vw;
@vw110-1080: 10.185vw;
@vw109-1080: 10.093vw;
@vw108-1080: 10vw;
@vw107-1080: 9.907vw;
@vw106-1080: 9.815vw;
@vw105-1080: 9.722vw;
@vw104-1080: 9.63vw;
@vw103-1080: 9.537vw;
@vw102-1080: 9.444vw;
@vw101-1080: 9.352vw;
@vw100-1080: 9.259vw;
@vw99-1080: 9.167vw;
@vw98-1080: 9.074vw;
@vw97-1080: 8.981vw;
@vw96-1080: 8.889vw;
@vw95-1080: 8.796vw;
@vw94-1080: 8.704vw;
@vw93-1080: 8.611vw;
@vw92-1080: 8.519vw;
@vw91-1080: 8.426vw;
@vw90-1080: 8.333vw;
@vw89-1080: 8.241vw;
@vw88-1080: 8.148vw;
@vw87-1080: 8.056vw;
@vw86-1080: 7.963vw;
@vw85-1080: 7.87vw;
@vw84-1080: 7.778vw;
@vw83-1080: 7.685vw;
@vw82-1080: 7.593vw;
@vw81-1080: 7.5vw;
@vw80-1080: 7.407vw;
@vw79-1080: 7.315vw;
@vw78-1080: 7.222vw;
@vw77-1080: 7.13vw;
@vw76-1080: 7.037vw;
@vw75-1080: 6.944vw;
@vw74-1080: 6.852vw;
@vw73-1080: 6.759vw;
@vw72-1080: 6.667vw;
@vw71-1080: 6.574vw;
@vw70-1080: 6.481vw;
@vw69-1080: 6.389vw;
@vw68-1080: 6.296vw;
@vw67-1080: 6.204vw;
@vw66-1080: 6.111vw;
@vw65-1080: 6.019vw;
@vw64-1080: 5.926vw;
@vw63-1080: 5.833vw;
@vw62-1080: 5.741vw;
@vw61-1080: 5.648vw;
@vw60-1080: 5.556vw;
@vw59-1080: 5.463vw;
@vw58-1080: 5.37vw;
@vw57-1080: 5.278vw;
@vw56-1080: 5.185vw;
@vw55-1080: 5.093vw;
@vw54-1080: 5vw;
@vw53-1080: 4.907vw;
@vw52-1080: 4.815vw;
@vw51-1080: 4.722vw;
@vw50-1080: 4.63vw;
@vw49-1080: 4.537vw;
@vw48-1080: 4.444vw;
@vw47-1080: 4.352vw;
@vw46-1080: 4.259vw;
@vw45-1080: 4.167vw;
@vw44-1080: 4.074vw;
@vw43-1080: 3.981vw;
@vw42-1080: 3.889vw;
@vw41-1080: 3.796vw;
@vw40-1080: 3.704vw;
@vw39-1080: 3.611vw;
@vw38-1080: 3.519vw;
@vw37-1080: 3.426vw;
@vw36-1080: 3.333vw;
@vw35-1080: 3.241vw;
@vw34-1080: 3.148vw;
@vw33-1080: 3.056vw;
@vw32-1080: 2.963vw;
@vw31-1080: 2.87vw;
@vw30-1080: 2.778vw;
@vw29-1080: 2.685vw;
@vw28-1080: 2.593vw;
@vw27-1080: 2.5vw;
@vw26-1080: 2.407vw;
@vw25-1080: 2.315vw;
@vw24-1080: 2.222vw;
@vw23-1080: 2.13vw;
@vw22-1080: 2.037vw;
@vw21-1080: 1.944vw;
@vw20-1080: 1.852vw;
@vw19-1080: 1.759vw;
@vw18-1080: 1.667vw;
@vw17-1080: 1.574vw;
@vw16-1080: 1.481vw;
@vw15-1080: 1.389vw;
@vw14-1080: 1.296vw;
@vw13-1080: 1.204vw;
@vw12-1080: 1.111vw;
@vw11-1080: 1.019vw;
@vw10-1080: 0.926vw;
@vw9-1080: 0.833vw;
@vw8-1080: 0.741vw;
@vw7-1080: 0.648vw;
@vw6-1080: 0.556vw;
@vw5-1080: 0.463vw;
@vw4-1080: 0.37vw;
@vw3-1080: 0.278vw;
@vw2-1080: 0.185vw;
@vw1-1080: 0.093vw;

@vw300-580: 51.724vw;
@vw299-580: 51.552vw;
@vw298-580: 51.379vw;
@vw297-580: 51.207vw;
@vw296-580: 51.034vw;
@vw295-580: 50.862vw;
@vw294-580: 50.69vw;
@vw293-580: 50.517vw;
@vw292-580: 50.345vw;
@vw291-580: 50.172vw;
@vw290-580: 50vw;
@vw289-580: 49.828vw;
@vw288-580: 49.655vw;
@vw287-580: 49.483vw;
@vw286-580: 49.31vw;
@vw285-580: 49.138vw;
@vw284-580: 48.966vw;
@vw283-580: 48.793vw;
@vw282-580: 48.621vw;
@vw281-580: 48.448vw;
@vw280-580: 48.276vw;
@vw279-580: 48.103vw;
@vw278-580: 47.931vw;
@vw277-580: 47.759vw;
@vw276-580: 47.586vw;
@vw275-580: 47.414vw;
@vw274-580: 47.241vw;
@vw273-580: 47.069vw;
@vw272-580: 46.897vw;
@vw271-580: 46.724vw;
@vw270-580: 46.552vw;
@vw269-580: 46.379vw;
@vw268-580: 46.207vw;
@vw267-580: 46.034vw;
@vw266-580: 45.862vw;
@vw265-580: 45.69vw;
@vw264-580: 45.517vw;
@vw263-580: 45.345vw;
@vw262-580: 45.172vw;
@vw261-580: 45vw;
@vw260-580: 44.828vw;
@vw259-580: 44.655vw;
@vw258-580: 44.483vw;
@vw257-580: 44.31vw;
@vw256-580: 44.138vw;
@vw255-580: 43.966vw;
@vw254-580: 43.793vw;
@vw253-580: 43.621vw;
@vw252-580: 43.448vw;
@vw251-580: 43.276vw;
@vw250-580: 43.103vw;
@vw249-580: 42.931vw;
@vw248-580: 42.759vw;
@vw247-580: 42.586vw;
@vw246-580: 42.414vw;
@vw245-580: 42.241vw;
@vw244-580: 42.069vw;
@vw243-580: 41.897vw;
@vw242-580: 41.724vw;
@vw241-580: 41.552vw;
@vw240-580: 41.379vw;
@vw239-580: 41.207vw;
@vw238-580: 41.034vw;
@vw237-580: 40.862vw;
@vw236-580: 40.69vw;
@vw235-580: 40.517vw;
@vw234-580: 40.345vw;
@vw233-580: 40.172vw;
@vw232-580: 40vw;
@vw231-580: 39.828vw;
@vw230-580: 39.655vw;
@vw229-580: 39.483vw;
@vw228-580: 39.31vw;
@vw227-580: 39.138vw;
@vw226-580: 38.966vw;
@vw225-580: 38.793vw;
@vw224-580: 38.621vw;
@vw223-580: 38.448vw;
@vw222-580: 38.276vw;
@vw221-580: 38.103vw;
@vw220-580: 37.931vw;
@vw219-580: 37.759vw;
@vw218-580: 37.586vw;
@vw217-580: 37.414vw;
@vw216-580: 37.241vw;
@vw215-580: 37.069vw;
@vw214-580: 36.897vw;
@vw213-580: 36.724vw;
@vw212-580: 36.552vw;
@vw211-580: 36.379vw;
@vw210-580: 36.207vw;
@vw209-580: 36.034vw;
@vw208-580: 35.862vw;
@vw207-580: 35.69vw;
@vw206-580: 35.517vw;
@vw205-580: 35.345vw;
@vw204-580: 35.172vw;
@vw203-580: 35vw;
@vw202-580: 34.828vw;
@vw201-580: 34.655vw;
@vw200-580: 34.483vw;
@vw199-580: 34.31vw;
@vw198-580: 34.138vw;
@vw197-580: 33.966vw;
@vw196-580: 33.793vw;
@vw195-580: 33.621vw;
@vw194-580: 33.448vw;
@vw193-580: 33.276vw;
@vw192-580: 33.103vw;
@vw191-580: 32.931vw;
@vw190-580: 32.759vw;
@vw189-580: 32.586vw;
@vw188-580: 32.414vw;
@vw187-580: 32.241vw;
@vw186-580: 32.069vw;
@vw185-580: 31.897vw;
@vw184-580: 31.724vw;
@vw183-580: 31.552vw;
@vw182-580: 31.379vw;
@vw181-580: 31.207vw;
@vw180-580: 31.034vw;
@vw179-580: 30.862vw;
@vw178-580: 30.69vw;
@vw177-580: 30.517vw;
@vw176-580: 30.345vw;
@vw175-580: 30.172vw;
@vw174-580: 30vw;
@vw173-580: 29.828vw;
@vw172-580: 29.655vw;
@vw171-580: 29.483vw;
@vw170-580: 29.31vw;
@vw169-580: 29.138vw;
@vw168-580: 28.966vw;
@vw167-580: 28.793vw;
@vw166-580: 28.621vw;
@vw165-580: 28.448vw;
@vw164-580: 28.276vw;
@vw163-580: 28.103vw;
@vw162-580: 27.931vw;
@vw161-580: 27.759vw;
@vw160-580: 27.586vw;
@vw159-580: 27.414vw;
@vw158-580: 27.241vw;
@vw157-580: 27.069vw;
@vw156-580: 26.897vw;
@vw155-580: 26.724vw;
@vw154-580: 26.552vw;
@vw153-580: 26.379vw;
@vw152-580: 26.207vw;
@vw151-580: 26.034vw;
@vw150-580: 25.862vw;
@vw149-580: 25.69vw;
@vw148-580: 25.517vw;
@vw147-580: 25.345vw;
@vw146-580: 25.172vw;
@vw145-580: 25vw;
@vw144-580: 24.828vw;
@vw143-580: 24.655vw;
@vw142-580: 24.483vw;
@vw141-580: 24.31vw;
@vw140-580: 24.138vw;
@vw139-580: 23.966vw;
@vw138-580: 23.793vw;
@vw137-580: 23.621vw;
@vw136-580: 23.448vw;
@vw135-580: 23.276vw;
@vw134-580: 23.103vw;
@vw133-580: 22.931vw;
@vw132-580: 22.759vw;
@vw131-580: 22.586vw;
@vw130-580: 22.414vw;
@vw129-580: 22.241vw;
@vw128-580: 22.069vw;
@vw127-580: 21.897vw;
@vw126-580: 21.724vw;
@vw125-580: 21.552vw;
@vw124-580: 21.379vw;
@vw123-580: 21.207vw;
@vw122-580: 21.034vw;
@vw121-580: 20.862vw;
@vw120-580: 20.69vw;
@vw119-580: 20.517vw;
@vw118-580: 20.345vw;
@vw117-580: 20.172vw;
@vw116-580: 20vw;
@vw115-580: 19.828vw;
@vw114-580: 19.655vw;
@vw113-580: 19.483vw;
@vw112-580: 19.31vw;
@vw111-580: 19.138vw;
@vw110-580: 18.966vw;
@vw109-580: 18.793vw;
@vw108-580: 18.621vw;
@vw107-580: 18.448vw;
@vw106-580: 18.276vw;
@vw105-580: 18.103vw;
@vw104-580: 17.931vw;
@vw103-580: 17.759vw;
@vw102-580: 17.586vw;
@vw101-580: 17.414vw;
@vw100-580: 17.241vw;
@vw99-580: 17.069vw;
@vw98-580: 16.897vw;
@vw97-580: 16.724vw;
@vw96-580: 16.552vw;
@vw95-580: 16.379vw;
@vw94-580: 16.207vw;
@vw93-580: 16.034vw;
@vw92-580: 15.862vw;
@vw91-580: 15.69vw;
@vw90-580: 15.517vw;
@vw89-580: 15.345vw;
@vw88-580: 15.172vw;
@vw87-580: 15vw;
@vw86-580: 14.828vw;
@vw85-580: 14.655vw;
@vw84-580: 14.483vw;
@vw83-580: 14.31vw;
@vw82-580: 14.138vw;
@vw81-580: 13.966vw;
@vw80-580: 13.793vw;
@vw79-580: 13.621vw;
@vw78-580: 13.448vw;
@vw77-580: 13.276vw;
@vw76-580: 13.103vw;
@vw75-580: 12.931vw;
@vw74-580: 12.759vw;
@vw73-580: 12.586vw;
@vw72-580: 12.414vw;
@vw71-580: 12.241vw;
@vw70-580: 12.069vw;
@vw69-580: 11.897vw;
@vw68-580: 11.724vw;
@vw67-580: 11.552vw;
@vw66-580: 11.379vw;
@vw65-580: 11.207vw;
@vw64-580: 11.034vw;
@vw63-580: 10.862vw;
@vw62-580: 10.69vw;
@vw61-580: 10.517vw;
@vw60-580: 10.345vw;
@vw59-580: 10.172vw;
@vw58-580: 10vw;
@vw57-580: 9.828vw;
@vw56-580: 9.655vw;
@vw55-580: 9.483vw;
@vw54-580: 9.31vw;
@vw53-580: 9.138vw;
@vw52-580: 8.966vw;
@vw51-580: 8.793vw;
@vw50-580: 8.621vw;
@vw49-580: 8.448vw;
@vw48-580: 8.276vw;
@vw47-580: 8.103vw;
@vw46-580: 7.931vw;
@vw45-580: 7.759vw;
@vw44-580: 7.586vw;
@vw43-580: 7.414vw;
@vw42-580: 7.241vw;
@vw41-580: 7.069vw;
@vw40-580: 6.897vw;
@vw39-580: 6.724vw;
@vw38-580: 6.552vw;
@vw37-580: 6.379vw;
@vw36-580: 6.207vw;
@vw35-580: 6.034vw;
@vw34-580: 5.862vw;
@vw33-580: 5.69vw;
@vw32-580: 5.517vw;
@vw31-580: 5.345vw;
@vw30-580: 5.172vw;
@vw29-580: 5vw;
@vw28-580: 4.828vw;
@vw27-580: 4.655vw;
@vw26-580: 4.483vw;
@vw25-580: 4.31vw;
@vw24-580: 4.138vw;
@vw23-580: 3.966vw;
@vw22-580: 3.793vw;
@vw21-580: 3.621vw;
@vw20-580: 3.448vw;
@vw19-580: 3.276vw;
@vw18-580: 3.103vw;
@vw17-580: 2.931vw;
@vw16-580: 2.759vw;
@vw15-580: 2.586vw;
@vw14-580: 2.414vw;
@vw13-580: 2.241vw;
@vw12-580: 2.069vw;
@vw11-580: 1.897vw;
@vw10-580: 1.724vw;
@vw9-580: 1.552vw;
@vw8-580: 1.379vw;
@vw7-580: 1.207vw;
@vw6-580: 1.034vw;
@vw5-580: 0.862vw;
@vw4-580: 0.69vw;
@vw3-580: 0.517vw;
@vw2-580: 0.345vw;
@vw1-580: 0.172vw;
